<%- layout("/layouts/boilerplate") %>
<div class="container d-flex justify-content-center align-items-center mt-2 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 ">
            <div class="card shadow ">
                <img src="/login.jpg" class="card-img-top" alt="" srcset="">
                <div class="card-body pt-0">
                    <h5 class=" card-title pb-2 text-center">Login</h5>
                    <form action="/login" method="post" novalidate class="needs-validation">
                        <div class="mb-3">
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="addon-wrapping">@</span>
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="username" aria-describedby="addon-wrapping" required autofocus>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    username cannot be empty
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Don't looks good!
                            </div>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-dark">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>