<h2>Leave a Review</h2>
<form action="/campgrounds/<%= Camp._id %>/reviews" method="POST" class="mb-3 needs-validation" novalidate>
    <div class="mb-3">
        <label for="rating" class="form-label">
            Rating
        </label>
        <input type="range" name="review[rating]" class="form-range" min="1" max="5" step="1" id="rating" required>
    </div>
    <div class="mb-3">
        <label for="body" class="form-label">
            Review
        </label>
        <textarea name="review[body]" id="body" class="form-control" cols="30" rows="10" required></textarea>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Don't looks good!
        </div>
    </div>
    <button class="btn btn-success">Submit</button>
</form>
<% for(let review of Camp.review) { %>
    <div class="mb-3 card">
        <div class="card-body">
            <h5 class="card-title">Rating : <%= review.rating %></h5>
            <p class="card-text">Review : <%= review.body %></p>
        </div>
    </div>
<% } %>